body {
    padding: 0;
    margin: 0;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position:fixed;
    bottom: 0px;
    left: 0px;
    background: #aaaaaa;
    padding: 6px;
    max-height: 32px;   /* Update Dictionary Container's bottom margin to account for footer */
}

.inline {
    display: inline !important;
}

#leftColumn {
    float: left;
}

form {
    margin: 15px;
    padding: 15px;
}

#wordEntryForm {
    max-width: 400px;
    border: outset 3px;
}

label {
    display: block;
    margin-bottom: 10px;
}

label span {
    display: block;
    font-weight: bold;
}

label span .helperlink {
    font-size: 10px;
}

label label {
    margin-left: 20px;
}

label span.checkboxlabel {
    display: inline;
    margin-left: 10px;
}

input, textarea {
    display: block;
    padding-left: 5px;
}

input[type=checkbox] {
    display: inline;
    margin: 5px;
}

#longDefinition {
    width: 350px;
    height: 200px;
}

#errorMessage, #updateConflictMessage, #settingsErrorMessage {
    display: block;
    color: red;
    font-weight: bold;
}

#aboutButton {
    display: inline;
    margin: 0 10px 0 0;
}

#dictionaryContainer {
    margin: 15px 0 36px 15px;    /* bottom margin must clear footer */
    width: 50%;
    min-width: 350px;
    float: left;
}

#dictionaryName {
    margin: 0 0 5px;
}

#dictionaryDescription {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    border: 1px solid #cacaca;
    margin: 10px;
}

.clickable, .helperlink {
    display: inline;
    font-weight: bold;
    padding: 4px;
    background: #dddddd;
    border-radius: 5px;
}

.clickable {
    cursor: pointer;
}

#descriptionToggle {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#wordFilter {
    margin: 10px 0;
}

entry {
    display: block;
    width: 50%;
    min-width: 300px;
    padding: 10px 10px 3px;
    border: outset 3px;
    margin-bottom: 5px;
}

word {
    font-weight: bold;
    font-size: 20px;
}

pronunciation {
    font-size: 12px;
    margin-left:10px;
}

partofspeech {
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    margin-left:10px;
}

simpledefinition {
    display: block;
    font-style: italic;
}

longdefinition {
    display: block;
    margin-left: 20px;
}

longDefinition h1, longDefinition h2, longDefinition h3, longDefinition h4, longDefinition h5, longDefinition h6 {
    margin: 5px 0 8px;
    font-weight: bold;
}

longDefinition h1 {
    font-size: 22px;
}

longDefinition h2 {
    font-size: 20px;
}

longDefinition h3 {
    font-size: 20px;
    font-weight: normal;
}

longDefinition h4 {
    font-size: 18px;
}

longDefinition h5 {
    font-size: 18px;
    font-weight: normal;
}

longDefinition h6 {
    font-size: 17px;
}

longDefinition p {
    margin: 3px 0 8px;
}

searchTerm {
    display: inline;
    color: #ff0000;
    background: #ffff00;
    padding: 1px;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.management {
    display: block;
    right: 5px;
    width: 100px;
    padding: 3px;
    border: inset 3px;
    margin: 10px;
}

.editButton, .deleteButton, .deleteConfirmButton, .deleteCancelButton {
    display: inline;
    font-size: 10px;
    margin: 5px;
}

.deleteConfirm {
    display: block;
    font-size: 10px;
    margin: 10px;
}

#settingsBackgroundFade, #aboutBackgroundFade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaaaaa;
    opacity: 0.75;
}

#settingsOptions, #aboutPage {
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    min-width: 300px;
    min-height: 300px;
    padding: 5px 5% 5%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid black;
}

#settingsButton, #settingsScreenCloseButton,
#settingsSaveButtons button, #aboutScreenCloseButton {
    float: right;
    font-size: 12px;
}

#settingsForm {
    width: 100%;
    padding: 0;
    margin: 0;
}

#dictionaryDescriptionEdit {
    width: 280px;
    height: 130px;
}

#settingsErrorMessage {
    float: right;
    clear: both;
}
#settingsSaveButtons {
    display: block;
    clear: both;
    width: 100%;
}

.settingsCol {
    display: block;
    float: left;
    width: 300px;
    margin: 0 30px 0 0;
}
