@import '../../../../node_modules/bulma/bulma';

.open-search-input {
  @extend .input;
  cursor: pointer;
}

.search-bar {
  @extend .hero;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .search-body {
    @extend .hero-body;
    @extend .is-paddingless;

    .search-background {
      @extend .modal-background;
    }
  }
}