PROJECT_DB_ROOT_PASSWORD=user_password
PROJECT_DB_DATABASE=lexiconga_db_name
PROJECT_DB_USER=lexiconga_db_username
# For local development, it should be fine to share root and regular password
PROJECT_DB_PASSWORD=${PROJECT_DB_ROOT_PASSWORD}
