RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^view/([0-9]+)/?$    view/index.php?dict=$1    [NC,L]    # Handle dictionary ids.
RewriteRule    ^([0-9]+)/?$    view/index.php?dict=$1    [NC,L]    # Handle dictionary ids.