#loginModal {
  .modal-content {
    padding: $general-padding;
    width: 1000px;
    
    section {
      overflow-y: auto;
      height: 100%;

      p {
        font-size: 10pt;
        line-height: 12pt;
      }
    }
  }
}

details summary {
  cursor: pointer;

  h4 {
    display: inline-block;
    margin: 5px 0;
  }
}

.share-link {
  margin-left: $general-padding !important;
  line-height: 16px !important;
  padding: 1px 3px 3px !important;
}