@media (max-width: 750px) {
  
#top {
  #title {
    width: 150px;
    margin-right: 10px;
  }

  #openSearchModal {
    width: 40%;
    margin-bottom: 10px;
  }

  #searchModal {
    .modal-content {
      width: 100%;
      padding: $general-padding ($general-padding / 2) ($general-padding / 4);

      #searchBox {
        margin-bottom: 5px;
      }

      section+footer {
        padding: ($general-padding / 2) 0;
      }
    }
  }
}

$mobile-word-form-size: 32px;
#mobileWordFormShow {
  position: fixed;
  top: $header-height - ($mobile-word-form-size / 2);
  left: 0;
  width: $mobile-word-form-size;
  height: $mobile-word-form-size;
  display: block;
  border-radius: 0 3px 3px 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

#wordForm {
  display: none;
  width: 95%;
  max-width: unset;
  max-height: 85%;
  top: $header-height + ($mobile-word-form-size / 2);
  left: 0;
  right: 3%;
  z-index: 1;

  label:not(:last-child) {
    margin-bottom: 10px;
  }
}

#detailsSection {
  nav ul li {
    padding: 5px 10px;
  }

  #detailsPanel {
    width: 100%;
    max-height: 300px;
    padding: 10px 5px;
  }
}


.entry {
  .pronunciation {
    margin: 0 ($general-padding / 2);
  }
}

#editModal {
  $nav-font-height: 16px;
  footer {
    .button {
      font-size: $nav-font-height - 2px;
      line-height: $nav-font-height;
    }
  }
  #editDescription {
    width: 100%;
    height: 260px;
  }
}

#bottom {
  position: relative;
  bottom: unset;

  .separator {
    display: block;
    visibility: hidden;
  }
}

}
