header {
  display: block;
  padding: 5px $general-padding;
  border-bottom: 1px solid $mid;
  margin: 0 0 5px;

  &#top {
    max-height: $header-height;
  }
}

main {
  display: block;
  width: 90%;
  min-height: 400px;
  margin: 0 auto;

  #sideColumn,
  #mainColumn {
    display: inline-block;
    vertical-align: top;
  }

  #sideColumn {
    width: 28%;
    margin: 0 1%;
  }

  #mainColumn {
    width: 68%;
    margin: 0;
  }

  article {
    width: 95%;
    margin: 10px auto;
    border: $border;

    dl {
      padding: 0 $general-padding;
    }
  }
}

footer {
  display: block;
  padding: $general-padding;
  border-top: 1px solid $mid;
  margin: 5px 0 0;
}