#top {
  #title {
    display: inline-block;
    margin: 3px 20px 3px 0;
  }

  #openSearchModal {
    cursor: pointer;
  }

  #searchModal {
    min-height: $header-height;
    bottom: unset;
    z-index: 10;

    .modal-content {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 90%;
      padding: 20px;

      label {
        display: inline;
      }

      section {
        padding: 0;
        overflow-y: unset;
        margin-bottom: 0;
      }

      section+footer {
        position: relative;
        left: unset;
        bottom: unset;
        right: unset;
        background-color: $white;
      }
    }

    #searchBox {
      width: 60%;
    }

    .category {
      text-align: right;
      * {
        margin: 0;
      }
    }

    .options {
      label {
        margin-right: 5px;
      }
    }
  }
}

#wordForm {
  position: fixed;
  top: auto;
  width: 24%;
  padding: 10px;
  background-color: $light;
  border: $border;
  border-radius: 5px;
  max-height: 80%;
  overflow-y: auto;
}

#detailsSection {
  padding: 20px;
  background-color: $white;
  border: $border;
  border-radius: 5px;

  nav li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    border: $border;
    background-color: $light;
    cursor: pointer;
    
    &:first-child {
      border-radius: 5px 0 0 5px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
    }
    &:not(:first-child) {
      border-left: none;
    }

    &.active {
      background-color: #bababa;
    }
  }

  #detailsPanel {
    background-color: $white;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
  }
}


.entry {
  background-color: $light;
  
  .word {
    display: inline-block;
    margin: 3px 0;
  }

  .pronunciation {
    margin: 0 20px;
  }

  .part-of-speech {
    font-weight: bold;
    font-style: italic;
    font-size: 70%;
  }
}

#editModal {
  #editDescription {
    width: 100%;
    height: 350px;
  }
}
