@import '../../../../../node_modules/bulma/bulma';

.details-menu {
  @extend .menu;
}

.details-menu,
.details-display {
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}