@import 'scss/variables';

@import '../node_modules/normalize.css/normalize.css';

@import 'scss/containers';
@import 'scss/structure';
@import 'scss/elements';
@import 'scss/mobile/containers';
@import 'scss/mobile/structure';
@import 'scss/mobile/elements';

@import 'scss/themes/default';
@import 'scss/themes/dark';
@import 'scss/themes/light';
@import 'scss/themes/blue';
@import 'scss/themes/green';
@import 'scss/themes/royal';
@import 'scss/themes/yellow';
@import 'scss/themes/red';
@import 'scss/themes/mint';
@import 'scss/themes/grape';

html, body {
  margin: 0;
  font-family: $font;

  * {
    box-sizing: border-box;
  }
}

input:not([type="checkbox"]),
select,
textarea {
  font-size: 16px;
}