html, body {
  margin: 0;
  font-family: $font;
  font-size: 13pt;
  transition: all 0.2s ease-in;
  
  * {
    transition: all 0.2s ease-in;
    box-sizing: border-box;
  }
}

header {
  display: block;
  padding: 5px $general-padding;
  margin: 0 0 5px;

  &#top {
    max-height: $header-height;
  }
}

main {
  display: block;
  width: 90%;
  max-width: 1000px;
  min-height: 400px;
  margin: 0 auto ($header-height * 1.25);

  #sideColumn,
  #mainColumn {
    display: inline-block;
    vertical-align: top;
  }

  #sideColumn {
    width: 32%;
    margin: 0 1%;
  }

  #mainColumn {
    width: 64%;
    margin: $general-padding 0 0;
  }

  article {
    width: 95%;
    margin: 10px auto;

    dl {
      padding: 0 $general-padding;
    }
  }
}

footer {
  display: block;
  padding: $general-padding;
  margin: 5px 0 0;
}