a {
  text-decoration: underline;
}

p, span {
  &.bold {
    font-weight: bold;
  }
}

h2 {
  margin-bottom: 5px;
}

input:not([type="checkbox"]),
select,
textarea {
  font-size: 12pt;
  padding: 2px 3px;
}

label {
  display: block;
  font-weight: bold;
  line-height: 120%;
  cursor: pointer;
  margin-bottom: $general-padding;

  small {
    font-weight: normal;
  }

  input:not([type="checkbox"]):not([type="radio"]) {
    line-height: 1.6;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  select, textarea {
    font-weight: normal;
    width: 100%;
  }

  textarea {
    min-height: 100px;
  }

  .label-button {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 3px;
    line-height: 1.5;
    cursor: pointer;
    user-select: none;
    font-size: 80%;
    font-weight: normal;
    float: right;
    cursor: pointer;
    line-height: 0.85 !important;
    padding: 3px 3px 5px;

    &.small {
      font-size: 80%;
      line-height: 0.8;
    }
  }

  .label-help-button {
    display: inline-block;
    padding: 3px 9px;
    border-radius: 3px;
    line-height: 1.5;
    cursor: pointer;
    user-select: none;
    font-size: 70%;
    font-weight: normal;
    cursor: pointer;
    line-height: 0.8 !important;
    padding: 2px 2px 4px;

    &.small {
      font-size: 80%;
      line-height: 0.8;
    }
  }
}

ul {
  padding-left: $general-padding;
}

.tag {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 3px;
  line-height: 1.5;

  &.small {
    font-size: 80%;
    line-height: 1.3;
  }

  &+.tag {
    margin-top: 5px;
  }
}

span .tag {
  border-radius: 3px 0 0 3px;

  display: inline-block;
  padding: 3px 9px;
  border-radius: 3px;
  line-height: 1.5;

  &.small {
    font-size: 80%;
    line-height: 1.3;
  }
  
  &+.tag {
    border-left: none;
    border-radius: 0 3px 3px 0;
  }

  &+span .tag {
    margin-top: 5px;
  }
}

.button {
  display: inline-block;
  padding: 3px 9px;
  border-radius: 3px;
  line-height: 1.5;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  font-weight: bold;

  &.small {
    font-size: 80%;
    line-height: 1.3;
  }

  &+.button {
    margin-top: 5px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    border-radius: 5px;

    .close-button {
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 1;
      font-size: 200%;
      cursor: pointer;
      user-select: none;
      text-decoration: none;
    }
  }
}

.tabs {
  li {
    display: inline-block;
    list-style: none;
    margin: 0 2px -1px;
    padding: 10px $general-padding;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }
}

.split {
  display: block;

  & > div {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 2%;

    &:last-child {
      margin-right: unset;
      margin-left: 2%;
    }
  }

  &.two > div {
    width: 46%;
  }

  &.three > div,
  & > div.third {
    width: 30%;
  }

  & > div.two-third {
    width: 66%;
  }

  & > div.quarter {
    width: 22%;
  }

  & > div.three-quarter {
    width: 72%;
  }
}

.fadeout {
  overflow: hidden;
  animation-name: shut;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes shut {
  0% {
    opacity: 1;
    max-height: 200px;
  }
  100% {
    opacity: 0;
    max-height: 0px;
  }
}

.pagination {
  position: relative;
  text-align: center;
  margin: $general-padding 0;

  .page-selector {
    padding: 5px 10px;
  }

  .prev-button,
  .next-button {
    position: absolute;
  }

  .prev-button {
    left: 2.5%;
  }
  
  .next-button {
    right: 2.5%;
  }
}
