p, span {
  &.red {
    color: $red;
  }

  &.bold {
    font-weight: bold;
  }
}

label {
  display: block;
  font-weight: bold;
  line-height: 120%;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: $general-padding;
  }

  small {
    font-weight: normal;
  }

  input:not([type="checkbox"]):not([type="radio"]) {
    padding-bottom: 2px;
    line-height: 130%;
  }

  input:not([type="checkbox"]):not([type="radio"]),
  select, textarea {
    font-weight: normal;
    width: 100%;
  }

  .label-button {
    @extend .button;

    font-size: 80%;
    font-weight: normal;
    float: right;
    cursor: pointer;
    line-height: 80% !important;
    padding: 3px 3px 5px;
  }

  .label-help-button {
    @extend .button;

    font-size: 70%;
    font-weight: normal;
    cursor: pointer;
    line-height: 70% !important;
    padding: 2px 2px 4px;
  }
}

ul {
  padding-left: $general-padding;
}

.tag {
  display: inline-block;
  padding: 3px 9px;
  border: $border;
  border-radius: 3px;
  background-color: $light;
  line-height: 30px;

  &.small {
    font-size: 80%;
    line-height: 25px;
  }

  &.red {
    background-color: $red;
    color: $white;
  }
}

span .tag {
  @extend .tag;
  
  border-radius: 3px 0 0 3px;
  
  &+.tag {
    border-left: none;
    border-radius: 0 3px 3px 0;
    background-color: $white;
  }
}

.button {
  @extend .tag;
  cursor: pointer;
  user-select: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  .modal-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    background-color: $white;
    border: $border;
    border-radius: 5px;

    .close-button {
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 1;
      font-size: 200%;
      cursor: pointer;
      user-select: none;
    }
  }
}

.tabs {
  ul {
    border-bottom: $border;
  }
  li {
    display: inline-block;
    list-style: none;
    margin: 0 2px -1px;
    padding: 10px $general-padding;
    border-top: $border;
    border-left: $border;
    border-right: $border;
    border-radius: 5px 5px 0 0;
    background-color: $mid;
    cursor: pointer;

    &.active {
      background-color: $white;
      border-bottom: 1px solid $white;
    }
  }
}

.split {
  display: block;

  div {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-right: 2%;

    &:last-child {
      margin-right: unset;
      margin-left: 2%;
    }
  }

  &.two div {
    width: 46%;
  }

  &.three div,
  div.third {
    width: 30%;
  }

  div.two-third {
    width: 66%;
  }

  div.quarter {
    width: 22%;
  }

  div.three-quarter {
    width: 72%;
  }
}

.pagination {
  position: relative;
  text-align: center;
  margin: $general-padding 0;

  .page-selector {
    padding: 5px 10px;
  }

  .prev-button,
  .next-button {
    position: absolute;
  }

  .prev-button {
    left: 2.5%;
  }
  
  .next-button {
    right: 2.5%;
  }
}
