#top {
  #title {
    display: inline-block;
    margin: 3px $general-padding 3px 0;
  }

  #openSearchModal {
    cursor: pointer;
  }

  #searchModal {
    min-height: $header-height;
    bottom: unset;
    z-index: 10;

    .modal-content {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: unset;
      max-width: unset;
      height: unset;
      max-height: unset;
      margin: 0 auto;
      width: 90%;
      padding: $general-padding $general-padding ($general-padding / 2);

      label {
        display: inline;
      }

      section {
        padding: 0;
        overflow-y: unset;
        margin-bottom: 0;
      }

      section+footer {
        position: relative;
        left: unset;
        bottom: unset;
        right: unset;
        background-color: $white;
        padding: ($general-padding / 2) $general-padding ($general-padding * 0.25);
        font-size: 90%;

        .split {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    #searchBox {
      width: 60%;
    }

    .category {
      margin-right: 8px;
      text-align: right;
      * {
        margin: 0;
      }
    }

    .options {
      label {
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 5px;
      }
    }
  }

  #headerMenu {
    display: block;
    float: right;

    a {
      display: inline-block;
      margin-left: 5px;
    }
  }
}

#settingsModal {
  .modal-content section {
    padding: 0 $general-padding $general-padding;
  }
}

#mobileWordFormShow {
  display: none;
}

#wordForm {
  position: fixed;
  top: auto;
  width: 31%;
  max-width: 320px;
  padding: 10px;
  background-color: $light;
  border: $border;
  border-radius: 5px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}

.edit-form {
  padding: $general-padding;
  max-width: 500px;
}

#detailsSection {
  padding: $general-padding;
  background-color: $white;
  border: $border;
  border-radius: 5px;

  #dictionaryName {
    margin-top: 0;
  }

  nav ul {
    padding-left: 0;

    li {
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 10px $general-padding;
      border: $border;
      background-color: $light;
      cursor: pointer;
      
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      &:not(:first-child) {
        border-left: none;
      }

      &.active {
        background-color: #bababa;
      }
    }
  }

  #detailsPanel {
    background-color: $white;
    padding: $general-padding;
    max-height: 400px;
    overflow-y: auto;

    &:not(.content) h3,
    *:not(.content) h3 {
      margin-top: 0;
    }
  }
}


.entry {
  background-color: $light;
  
  .word {
    display: inline-block;
    margin: 3px 0;
  }

  .pronunciation {
    margin: 0 $general-padding;
  }

  .part-of-speech {
    font-weight: bold;
    font-style: italic;
    font-size: 70%;
  }

  header {
    position: relative;
    
    .word-option-button {
      position: absolute;
      top: 3px;
      right: 3px;
      line-height: 16px !important;
      padding: 1px 3px 3px;
    }

    .word-option-list {
      position: absolute;
      top: 3px;
      right: 3px;
      background-color: $white;
      border: $border;
      border-radius: 5px;
      
      .word-option {
        padding: 10px 25px;;

        &:hover {
          background-color: $light;
          cursor: pointer;
        }
      }
    }
  }
}

$nav-font-height: 16px;
#settingsModal,
#editModal,
.ipa-table-modal,
.maximize-modal {
  nav {
    padding-top: $general-padding;

    ul {
      margin: 0;
      padding: 0;

      li {
        font-size: $nav-font-height;
        line-height: $nav-font-height;
      }
    }
  }

  header, section, footer {
    position: absolute;
    width: 100%;
  }

  header {
    top: 0;
  }

  footer {
    bottom: 0;

    .button {
      font-size: $nav-font-height;
      line-height: $nav-font-height;
    }
  }
}

#settingsModal {
  section {
    top: 0;
    bottom: ($general-padding * 2) + $nav-font-height + 16px;
    padding: $general-padding;
    overflow-y: auto;
  }
}

#editModal {
  section {
    top: ($general-padding * 2) + $nav-font-height + 10px;
    bottom: ($general-padding * 2) + $nav-font-height + 16px;
    padding: $general-padding;
    overflow-y: auto;
  }
  
  #editDescription {
    width: 100%;
    height: 280px;
  }
}

.ipa-table-modal,
.maximize-modal {
  .modal-content {
    width: 1000px !important;
  }
}

.ipa-table-modal {
  .modal-content {
    overflow: auto;

    header * {
      font-size: $nav-font-height;
      line-height: $nav-font-height;
    }

    section {
      top: $general-padding + ($nav-font-height * 2) + 10px;
      bottom: ($general-padding * 2) + $nav-font-height + 16px;
      padding: 0 $general-padding $general-padding;
      overflow-y: auto;
    }
  }
}

.maximize-modal {
  section {
    top: ($general-padding * 2) + $nav-font-height + 15px;
    bottom: ($general-padding * 2) + $nav-font-height + 10px;
    overflow: hidden;
    padding: 0;
  }
  
  textarea {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    // min-height: 400px;
    border: none;
    padding: $general-padding;
  }
}

.info-modal {
  padding: ($general-padding * 1.5) 0 $general-padding $general-padding;
  height: 100%;

  .content {
    height: 100%;
    overflow-y: auto;
    padding-right: $general-padding;
  }
}

#messagingSection {
  position: fixed;
  bottom: $general-padding;
  right: $general-padding;
  max-width: 300px;
  z-index: 10;

  .message {
    position: relative;
    display: block;
    padding: $general-padding ($general-padding * 2) $general-padding $general-padding;
    background-color: $light;
    border: $border;
    border-radius: 5px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }

    &.error {
      background-color: lighten($red, 0.75);
    }

    .close-button {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 25px;
      line-height: 10px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        width: 20px;
        height: 20px;
        background-color: #455455;
        opacity: 0.5;
        transform-origin: center left;
        transform: scaleX(0);
        animation-name: fill;
        animation-duration: inherit;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes fill {
        100% {
          transform: scaleX(1);
        }
      }
    }
  }
}

#bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: $light;
  text-align: center;
  padding: $general-padding / 2;

  a {
    color: #000000;
    text-decoration: none;
  }

  .separator {
    display: inline;
  }
}
